* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
    text-decoration: none;
    color: white;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/*MOBILE FIRST INICIO*/
h2 {
    font-size: 22px;
}

h3 {
    font-size: 16px;
    margin: 10px;
}

span {
    display: inline-block;
}

.opacidad-40 {
    opacity: 0.4;
}





/* BARRA NAVEGACIÓN */
nav {
    width: 100%;
    height: 60px;
    background-color: #CB3939;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
    position: fixed;
    box-shadow: -1px 9px 37px 8px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 9px 37px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 37px 8px rgba(0,0,0,0.75);
}

.contenedor-nav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content:right;
    align-items: center;
    padding: 8px 0px;
    position: inherit;
    right: 15px;
    z-index: -1;
}

.carrito{
    display: none;
}

.btn-biblioteca{
    display: none;
}

.btn-categoria{
    display: none;
}

.pag-logo {
    height: 95%;
}

.hamburguesa {
    height: 100%;
    background-color: #CB3939;
    border: none;
    margin-right: 20px;
}

.icono-hamburguesa {
    height: 100%;
}

.buscar-input {
    border-radius: 12px;
    height: 30px;
    opacity: 0.45;
    width: 60%;
    padding-left: 10px;
    color: #ffffff;
    margin-right: 65px;
}








/* HAMBURGUESA */
.menu-hamburguesa {
    background-color: #CB3939;
    width: 80%;
    max-width: 400px;
    height: 100vh;
    position: fixed;
    right: 0%;
    top: 0%;
}

.fondo-hamburguesa>button {
    position: absolute;
    top: 0%;
    right: 0%;
    margin-top: 22px;
    margin-right: 30px;
    border: none;
    background: none;
}

.hide {
    display: none;
}

.fondo-hamburguesa {
    width: 100%;
    height: 300px;
    background-image: url("images/tc2.png");
    background-size: contain;
    background-repeat: no-repeat;
    gap: 10px;
    

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.contenedor1-hamburguesa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pfp-hamburguesa {
    width: 40%;
}

.nombre-usuario {
    font-size: 22px;
}

.en-linea {
    margin-top: 5px;
    color: #3ABA38;
}

.contenedor2-hamburguesa {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}





/* CARRUSEL NUEVOS LANZAMIENTOS*/

.contenedor-nuevos-lanzamientos {
    width: 90%;
    margin-top: 100px;
}

.card-nuevos-lanzamientos {
    height: 200px;
    background-image: url("images/f1_23.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.img-card-nl {
    width: 100%;
}













/*Seccion Ofertas*/
.ofertas{
    margin-top: 0.5rem;
    padding: 1rem;
    width: 100%;
    height: 34.813rem;
    background-image:  url("images/fondo_ofertas.png");
    background-position: 50% 0%;
    background-position: center right;
    box-shadow: 0px 10px 10px #161616 inset, 0px -10px 10px #161616 inset;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloOf {
    margin: 15px;
}

.cardOf{
    width: 100%;
    height: 10rem;
    background-color: red;
    margin-bottom: 0.5rem;
    background-image:url("https://i.kym-cdn.com/entries/icons/facebook/000/045/324/cover19.jpg");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: end;
}

.contenedor-nombre{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.PrecioOf{
    padding: 1rem;
    width:100%;
    height: 2rem;
    background-color: #A73333;
    display: flex;
    align-items: center;
}

.cardOf .PrecioOf .textOf{
    font-size: 10px;
    text-align: left;
    flex-grow: 2;
}

.cardOf .PrecioOf p{
    margin: 0.5rem;
    font-size:20px;
    height:auto;
}

.cardOf .PrecioOf .precio{
    color: #3ABA38;
}

.contenedor-precio{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: end;

}

.cardOf .PrecioOf div .contenedor-precio p{
    margin: 0px;
    font-size: 12px;
    text-decoration:line-through;
}

.cardOf .PrecioOf .contenedor-precio .precio{
    font-size: 25px;
    text-decoration: none;
}


/* CUERPO DE LA PÁGINA */
body {
    background-color: #161616;
    width: 100%;
}

main {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 200px;
}

.contenedor-categoria {
    width: 100%;
    margin-top: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: right;

    box-shadow: 0px 10px 10px #161616 inset, 0px -10px 10px #161616 inset;
    box-shadow: 0px 10px 10px #161616 inset, 0px -10px 10px #161616 inset;
}

.contenedor-categoria>h3 {
    margin-left: 27px;
}

.contenedor-auxiliar {
    width: 88%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin: auto;
}

.contenedor-categoria ::-webkit-scrollbar{
    display: none;
}

.recomendados {
    background-image: url("images/fondo_recomendados.png");
    background-position: 50% 60%;
}

.offroad {
    background-image: url("images/fondo_offroad.png");
    background-position: 50% 62%;
}

.callejeras {
    background-image: url("images/fondo_callejeras.png");
    background-position: 50% 55%;
}

.pista {
    background-image: url("images/fondo_pista.png");
    background-position: 47% 55%;
}





/* CARDS JUEGOS */
.card-juego {
    min-width: 300px;
    height: 200px;
    margin: 6px;
}

.card-portada {
    width: 100%;
    height: 160px;
    border: 1px solid #8A8A8A
    
}

.card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
    font-size: 12px;
}

.precio {
    font-size: 16px;
}

.estrella {
    width: 22px;
}




/* BOTONES */
.contenedor-boton {
    width: 100%;
    display: flex;
    justify-content: right;
}

.ver-mas {
    margin: 6px 50px;
    background-color:transparent;
	border-radius:8px;
	border:3px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:5px 22px;
	text-decoration:none;
}

.ver-mas:hover {
    color: #161616;
    background-color: #ffffff;
}


/*FOOTER*/
footer{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(203,57,57,0.75), rgba(203,57,57,0.75)), url("images/fondo_footer.png");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 100% 100%; /* ahí se ve bien en escritorio, pero en celular ni se ve */
    padding: 1rem;
}

.contenedor-footer{
    display: flex;
    align-items: left;
    flex-direction: column;
}

footer div ul div img{
    width: 30px;
    height: auto;
}

.contenedorLista{
    display: flex;
    justify-content: left;
    align-items: center;
}

footer div img{
    width: 50%;
    height: auto;
}

footer div div ul{
    list-style-type: none;
    margin-left: 10px;
}

footer div div .contenedorLista{
    margin-top: 10px;
}

footer p{
    color: rgba(255, 255, 255, 0.604);
}


footer .soporte ul li, .navegacion ul li{
    margin-top: 10px;
    margin-bottom: 10px;
}

.derechos-reservados{
    font-size: 11px;
    text-align: justify;
}

/*MOBILE FIRST FIN*/

/*DESKTOP*/

@media (min-width: 900px) {}

/*NAVBAR*/
    nav{
        position: static;
    }

    .pag-logo {
        margin-right: 10rem;
    }

    .contenedor-nav{
        width: auto;
        height: 60px;
        display: flex;
        justify-content:right;
        align-items: center;
        padding: 8px 0px;
        position: none;
        right: 0px;
        z-index: 0;
    }

    .buscar-input {
        border-radius: 12px;
        height: 30px;
        /* opacity: 0.45; */
        width: 500px;
        padding-left: 10px;
        /* color: #ffffff; */
        margin-right: 0px;
    }

    .btn-biblioteca, .btn-categoria{
        margin-left: 15px;
        display: block;
    }

    .carrito{
        margin-left: 15px;
        margin-right: 15px;
        display: block;
        height: 95%;
    }


/*NUEVOS LANZAMIENTOS*/

.contenedor-nuevos-lanzamientos {
    width: 60%;
}

.card-nuevos-lanzamientos {
    height: 400px;
}

/*JUGADOS RECIENTEMENTE*/
.contenedor-auxiliar {
    width: 88%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow-x: scroll;
    margin: auto;
}

.contenedor-boton {
    margin-right: 500px;
}

/*OFERTAS ESPECIALES*/

.ofertas{
    flex-direction: row;
    justify-content: center;
}

.cardOf{
    width: 20%;
    height: 27rem;
    margin-bottom: 3rem;
    margin: 15px;
}

.PrecioOf{
    height: 6rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.cardOf .PrecioOf .textOf{
    font-size: 12px;
}

.cardOf .PrecioOf div p{
    margin: 0.5rem;
    font-size:45px;
    height:auto;
}

.contenedor-nombre{
    justify-content: space-between;
}

.contenedor-precio{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: end;
}

.cardOf .PrecioOf div .contenedor-precio p{
    font-size: 16px;
}

.cardOf .PrecioOf .contenedor-precio .precio{
    font-size: 30px;
}

/*FOOTER*/

footer{
    width: 100%;
    height: 350px;
    padding: 1rem;
    
}

.contenedor-redes{
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-left: 27rem;
}

.contenedor-footer{
    flex-direction: row;
}

footer li{
    font-size: 12px;
}

.derechos-reservados{
    width: 100%;
    height: 160px;
    font-size: 13px;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: end;
}

footer .contenedor-footer div ul div img{
    width: 20px;
    height: auto;
    margin-right: 6px;
}

.contenedorLista{
    display: flex;
    justify-content: left;
    align-items: center;
}

footer .contenedor-footer img{
    width: 10%;
    height: 10%;
}

footer  .contenedorLista{
    margin-top: 10px;
}

footer .derechos-reservados p{
    color: rgba(255, 255, 255, 0.604);
}


footer  .soporte ul li, .navegacion ul li{
    margin-top: 10px;
    margin-bottom: 10px;
}




/* LOGIN */
.main-body {
    background-image: url("images/fondo_login.png");
    background-size: cover;
    background-repeat: no-repeat;
}







/*PAGINA JUEGO*/

/*PANTALLA JUEGO*/
.contenedor-juego{
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: auto;
    background-image: url("images/assetto_corsa.jpg");
    background-position: 50% 0%;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    box-shadow: 0px 10px 10px #161616 inset, 0px -10px 10px #161616 inset;
    position: relative;
}

.pantalla-juego{
    background-image: url("images/portadajuego2.png");
    background-position: center;
    background-size: cover;
    margin-right: 100px;
    height: 935px;
    width: 935px;
}

.contenedor-controles{
    width: 400px;
    height: auto;
}

.imagen-juego{
    background-image: url("images/portadajuego2.png");
    width: auto;
    height: 400px;
    background-position: center;
    background-size: cover;
    margin-bottom:30px;
}

.controles-juego{
    height: 505px;
    width: auto;
    background-color: blue;
}

/*INFORMACION JUEGO*/

.contenedor-informacion{
    padding: 10px;
    width: 50%;
    height: auto;
    background-image: url("images/41394.jpg");
    box-shadow: 0px 10px 10px #161616 inset, 0px -10px 10px #161616 inset;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.contenerdor-sub-info1{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.contenedor-informacion p{
    font-size: 20px;
}

.contenedor-sub-categoria1, .contenedor-sub-categoria2{
    display: flex;
    flex-direction: row;
}

.cuadro-categoria{
    width: 170px;
    height: 55px;
    background-color: #A05858;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 6px;
    border-radius: 7px;
}

.icono{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: green;
    margin-right: 10px;
    margin-left:10px;
}

.clasico{
    background-image: url("images/images\ \(1\).png");
    background-position: center;
    background-size: 110%;
}

.arcade{
    background-image: url("images/images.png");
    background-position: center;
    background-size: 100%;
}

.gratis{
    background-image: url("images/png-clipart-dollar-sign-illustration-united-states-dollar-icon-design-icon-dollar-sign-text-logo-thumbnail.png");
    background-position: center;
    background-size: 130%;
}

.casual{
    background-image: url("images/pop-corn-flat-icon-vector-7978872.jpg");
    background-position: center;
    background-size: 130% 60px;
}

.contenedor-informacion h2{
    margin-bottom: 10px;
}

.contenedor-sub-info2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contenedor-info p{
    margin-top: 10px;
}

.compartir{
    margin-top:10px;
}

.video{
    width: 30%;
    height: auto;
}

.compartir{
    width: 160px;
    height: 40px;
    background-color: #A05858;
    border: none;
    border-radius: 10px;
}

/*COMENTARIOS-FOROS*/

.contenedor-social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comentarios{
    width: 580px;
    display: flex;
    flex-direction: column;
    background-color: #4b4b4b6f;
    border-style: solid;
    border-color: #A05858;
    margin-right: 74px;
}

.comentarios h2{
    margin-left: 10px;
    margin-top: 10px;
}

.escribir-comentario{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-color: white;
    border-style: none none solid none;
    border-width: 2px;
}

.icono-comentario{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    background-image: url("images/308d795c3cac0f8f16610f53df4e1005.jpg");
    background-position: center;
    background-size: 100%;
    margin: 20px;
}

.escribir-comentario .icono-comentario{
    margin-top: 15px;
}

.escribir-comentario p, .nombre{
    color: rgba(255, 255, 255, 0.604);
}

.comentarios-generales{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.foro{
    display: flex;
    flex-direction: column;
    border-color: #A05858;
    border-style: solid;
}

.comunidad{
    display: flex;
    align-items: center;
    border-color: white;
    border-style: none none solid none;
    border-width: 2px;
    height: 49px;
}

.comunidad-rosa, .comunidad-negro{
    display: flex;
    align-items: center;
    height: 50px;
    width: 300px;
}

.comunidad-rosa{
    background-color: #E96F6F;
}

.comunidad-negro{
    background-color: #B75555;
}





/* FORMULARIO */
.form-login {
    width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    background-color: #161616;
    border-left: 15px solid #BC6969;
    border-right: 15px solid #BC6969;
}

form>img {
    width: 60%;
}

form>a>img {
    
}

.google {
    margin: 6px 50px;
    background-color:transparent;
	border-radius:8px;
	border:3px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:18px;
	padding:5px 22px;
	text-decoration:none;
}

.google:hover {
    color: #161616;
    background-color: #ffffff;
}






/* MEDIA QUERIES */
@media screen and (min-width:500px) {

    h3 {
        font-size: 30px;
    }


    /* HAMBURGUESA */
    .contenedor2-hamburguesa {
        gap: 20px;
    }

    .contenedor2-hamburguesa>a {
       font-size: 20px;
    }


    /* CARRUSELES */
    .card-juego {
        margin-left: 30px;
    }

    .contenedor-categoria>h3 {
        margin-left: 110px;
    }


}