* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
    text-decoration: none;
    color: white;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*MOBILE FIRST INICIO*/
h2 {
    font-size: 22px;
}

h3 {
    font-size: 16px;
}

span {
    display: inline-block;
}

.opacidad-40 {
    opacity: 0.4;
}





/* BARRA NAVEGACIÓN */
nav {
    width: 100%;
    height: 60px;
    background-color: #CB3939;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
    position: fixed;
    box-shadow: -1px 9px 37px 8px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 9px 37px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 37px 8px rgba(0,0,0,0.75);
}

.contenedor-nav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content:right;
    align-items: center;
    padding: 8px 0px;
    position: inherit;
    right: 15px;
    z-index: -1;
}

.carrito{
    display: none;
}

.btn-biblioteca{
    display: none;
}

.btn-categoria{
    display: none;
}

.pag-logo {
    height: 95%;
}

.hamburguesa {
    height: 100%;
    background-color: #CB3939;
    border: none;
}

.icono-hamburguesa {
    height: 100%;
}

.buscar-input {
    border-radius: 12px;
    height: 30px;
    opacity: 0.45;
    width: 60%;
    padding-left: 10px;
    color: #ffffff;
    margin-right: 65px;
}





/* CARRUSEL NUEVOS LANZAMIENTOS*/

.contenedor-nuevos-lanzamientos {
    width: 90%;
    margin-top: 100px;
}

.card-nuevos-lanzamientos {
    height: 200px;
    background-image: url("images/f1_23.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.img-card-nl {
    width: 100%;
}













/*Seccion Ofertas*/
.ofertas{
    margin-top: 5rem;
    padding: 1rem;
    width: 100%;
    height: 34.813rem;
    background-image:  url("images/fondo_ofertas.png");
    background-position: 50% 0%;
    background-position: center right;
    box-shadow: 0px 10px 10px #161616 inset, 0px -10px 10px #161616 inset;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardOf{
    width: 100%;
    height: 10rem;
    background-color: red;
    margin-bottom: 0.5rem;
    background-image:url("https://i.kym-cdn.com/entries/icons/facebook/000/045/324/cover19.jpg");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: end;
}

.contenedor-nombre{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.PrecioOf{
    padding: 1rem;
    width:100%;
    height: 2rem;
    background-color: #A73333;
    display: flex;
    align-items: center;
}

.cardOf .PrecioOf .textOf{
    font-size: 10px;
    text-align: left;
    flex-grow: 2;
}

.cardOf .PrecioOf p{
    margin: 0.5rem;
    font-size:20px;
    height:auto;
}

.cardOf .PrecioOf .precio{
    color: #3ABA38;
}

.contenedor-precio{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: end;

}

.cardOf .PrecioOf div .contenedor-precio p{
    margin: 0px;
    font-size: 12px;
    text-decoration:line-through;
}

.cardOf .PrecioOf .contenedor-precio .precio{
    font-size: 25px;
    text-decoration: none;
}


/* CUERPO DE LA PÁGINA */
body {
    background-color: #161616;
}

main {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contenedor-categoria {
    width: 100%;
    margin-top: 50px;
    padding: 10px;
    /* background-color: rgb(167, 100, 72); */
    box-shadow: 0px 10px 10px #161616 inset, 0px -10px 10px #161616 inset;
}

.contenedor-auxiliar {
    width: 88%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin: auto;
}

.contenedor-categoria ::-webkit-scrollbar{
    display: none;
}

.recomendados {
    background-image: url("images/fondo_recomendados.png");
    background-position: 50% 60%;
}

.offroad {
    background-image: url("images/fondo_offroad.png");
    background-position: 50% 62%;
}

.callejeras {
    background-image: url("images/fondo_callejeras.png");
    background-position: 50% 55%;
}

.pista {
    background-image: url("images/fondo_pista.png");
    background-position: 47% 55%;
}





/* CARDS JUEGOS */
.card-juego {
    min-width: 300px;
    height: 200px;
    margin: 6px;
}

.card-portada {
    width: 100%;
    height: 160px;
    border: 1px solid #8A8A8A
    
}

.card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
    font-size: 12px;
}

.precio {
    font-size: 16px;
}

.estrella {
    width: 22px;
}




/* BOTONES */
.contenedor-boton {
    width: 100%;
    display: flex;
    justify-content: right;
}

.ver-mas {
    margin: 6px;


    background-color:transparent;
	border-radius:8px;
	border:3px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:8px 28px;
	text-decoration:none;
}

.ver-mas:hover {
    color: #161616;
    background-color: #ffffff;
}


/*FOOTER*/
footer{
    margin-top: 200px;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(203,57,57,0.75), rgba(203,57,57,0.75)), url("images/fondo_footer.png");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 100% 100%; /* ahí se ve bien en escritorio, pero en celular ni se ve */
    padding: 1rem;
}

.contenedor-footer{
    display: flex;
    align-items: left;
    flex-direction: column;
}

footer div ul div img{
    width: 30px;
    height: auto;
}

.contenedorLista{
    display: flex;
    justify-content: left;
    align-items: center;
}

footer div img{
    width: 50%;
    height: auto;
}

footer div div ul{
    list-style-type: none;
    margin-left: 10px;
}

footer div div .contenedorLista, p {
    margin-top: 10px;
}

footer p{
    color: rgba(255, 255, 255, 0.604);
}


footer .soporte ul li, .navegacion ul li{
    margin-top: 10px;
    margin-bottom: 10px;
}

.derechos-reservados{
    font-size: 11px;
    text-align: justify;
}

.contenedor-footer{

}

/*MOBILE FIRST FIN*/

/*DESKTOP*/

@media (min-width: 900px) {

/*NAVBAR*/
    nav{
        position: static;
    }

    .pag-logo {
        margin-right: 10rem;
    }

    .contenedor-nav{
        width: auto;
        height: 60px;
        display: flex;
        justify-content:right;
        align-items: center;
        padding: 8px 0px;
        position: none;
        right: 0px;
        z-index: 0;
    }

    .buscar-input {
        border-radius: 12px;
        height: 30px;
        opacity: 0.45;
        width: 500px;
        padding-left: 10px;
        color: #ffffff;
        margin-right: 0px;
    }

    .btn-biblioteca, .btn-categoria{
        margin-left: 15px;
        display: block;
    }

    .carrito{
        margin-left: 15px;
        margin-right: 15px;
        display: block;
        height: 95%;
    }


/*NUEVOS LANZAMIENTOS*/

.contenedor-nuevos-lanzamientos {
    width: 60%;
}

.card-nuevos-lanzamientos {
    height: 400px;
}

/*JUGADOS RECIENTEMENTE*/

.contenedor-categoria {
    width: 100%;
    margin-top: 50px;
    padding: 10px;
    /* background-color: rgb(167, 100, 72); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    box-shadow: 0px 10px 10px #161616 inset, 0px -10px 10px #161616 inset;
}

/*.contenedor-categoria h3{
    margin-left: 10rem;
}*/

.contenedor-auxiliar {
    width: 88%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow-x: scroll;
    margin: auto;
}

.contenedor-boton {
    margin-right: 500px;
}

/*OFERTAS ESPECIALES*/

.ofertas{
    flex-direction: row;
    justify-content: center;
}

.cardOf{
    width: 20%;
    height: 27rem;
    margin-bottom: 3rem;
    margin: 15px;
}

.PrecioOf{
    height: 6rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.cardOf .PrecioOf .textOf{
    font-size: 12px;
}

.cardOf .PrecioOf div p{
    margin: 0.5rem;
    font-size:45px;
    height:auto;
}

.contenedor-nombre{
    justify-content: space-between;
}

.contenedor-precio{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: end;
}

.cardOf .PrecioOf div .contenedor-precio p{
    font-size: 16px;
}

.cardOf .PrecioOf .contenedor-precio .precio{
    font-size: 30px;
}

/*FOOTER*/

footer{
    width: 100%;
    height: 500px;
    padding: 1rem;
    
}

.contenedor-redes{
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-left: 15rem;
}

.contenedor-footer{
    flex-direction: row;
}

.derechos-reservados{
    width: 100%;
    height: 310px;
    font-size: 13px;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: end;
}

footer .contenedor-footer div ul div img{
    width: 30px;
    height: auto;
}

.contenedorLista{
    display: flex;
    justify-content: left;
    align-items: center;
}

footer .contenedor-footer img{
    width: 20%;
    height: auto;
}

footer  .contenedorLista, p {
    margin-top: 10px;
}

footer .derechos-reservados p{
    color: rgba(255, 255, 255, 0.604);
}


footer  .soporte ul li, .navegacion ul li{
    margin-top: 10px;
    margin-bottom: 10px;
}

}