* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
    text-decoration: none;
    color: white;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/*MOBILE FIRST INICIO*/
h1 {
    font-size: 30px !important;
    font-family: 'Roboto' !important;
    margin: 8px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 16px;
    margin: 10px;
}

span {
    display: inline-block;
}

.opacidad-40 {
    opacity: 0.4;
}





/* BARRA NAVEGACIÓN */
nav {
    margin-bottom: 100px;
    z-index: 5;
    width: 100%;
    height: 60px;
    background-color: #CB3939;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
    position: fixed;
    box-shadow: -1px 9px 37px 8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 9px 37px 8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 9px 37px 8px rgba(0, 0, 0, 0.75);
}

.contenedor-nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 8px 0px;
    position: inherit;
    right: 15px;
    z-index: -1;
}

.carrito {
    display: none;
}

.btn-biblioteca {
    display: none;
}

.btn-categoria {
    display: none;
}

.pag-logo {
    height: 95%;
}

.hamburguesa {
    height: 100%;
    background-color: #CB3939;
    border: none;
}

.icono-hamburguesa {
    height: 100%;
}

.buscar-input {
    border-radius: 20px;
    border-style: none;
    height: 30px;
    width: 60%;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.561);
    color: #ffffff;
    margin-right: 65px;
}






/* HAMBURGUESA */
.menu-hamburguesa {
    background-color: #CB3939;
    width: 80%;
    max-width: 400px;
    height: 100vh;
    position: fixed;
    right: 0%;
    top: 0%;
    z-index: 5;
}

#cerrar-hamburguesa {
    position: absolute;
    top: 22px;
    right: 48px;
    border: none;
    background: none;
    width: 18px;
}

#cerrar-hamburguesa>img {
    width: 100%;
}

.fondo-hamburguesa {
    width: 100%;
    height: 300px;
    background-image: url("images/tc2.png");
    background-size: contain;
    background-repeat: no-repeat;
    gap: 10px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor1-hamburguesa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pfp-hamburguesa {
    width: 40%;
}

.nombre-usuario {
    font-size: 22px;
}

.en-linea {
    margin-top: 5px;
    color: #3ABA38;
}

.contenedor2-hamburguesa {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}




/*Seccion Ofertas*/
.ofertas {
    margin-top: 0.5rem;
    padding: 1rem;
    width: 100%;
    height: 34.813rem;
    background-image: url("images/fondo_ofertas.png");
    background-position: 50% 0%;
    background-position: center right;
    box-shadow: 0px 10px 10px #161616 inset, 0px -10px 10px #161616 inset;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloOf {
    margin: 15px;
}

.cardOf {
    width: 100%;
    height: 10rem;
    background-color: red;
    margin-bottom: 0.5rem;
    background-image: url("https://i.kym-cdn.com/entries/icons/facebook/000/045/324/cover19.jpg");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: end;
}

.contenedor-nombre {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.PrecioOf {
    padding: 1rem;
    width: 100%;
    height: 2rem;
    background-color: #A73333;
    display: flex;
    align-items: center;
}

.cardOf .PrecioOf .textOf {
    font-size: 10px;
    text-align: left;
    flex-grow: 2;
}

.cardOf .PrecioOf p {
    margin: 0.5rem;
    font-size: 20px;
    height: auto;
}

.cardOf .PrecioOf .precio {
    color: #3ABA38;
}

.contenedor-precio {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: end;

}

.cardOf .PrecioOf div .contenedor-precio p {
    margin: 0px;
    font-size: 12px;
    text-decoration: line-through;
}

.cardOf .PrecioOf .contenedor-precio .precio {
    font-size: 25px;
    text-decoration: none;
}


/* CUERPO DE LA PÁGINA */
body {
    background-color: #161616;
    width: 100%;
}

main {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contenedor-categoria {
    width: 100%;
    margin-top: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: right;

    box-shadow: 0px 10px 10px #161616 inset, 0px -10px 10px #161616 inset;
    box-shadow: 0px 10px 10px #161616 inset, 0px -10px 10px #161616 inset;
}

.contenedor-categoria ::-webkit-scrollbar,
.contenedor-categoria-reciente ::-webkit-scrollbar {
    display: none;
}

.contenedor-categoria>h3 {
    margin-left: 27px;
}

.contenedor-auxiliar {
    width: 88%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin: auto;
}

.recomendados {
    background-image: url("images/fondo_recomendados.png");
    background-position: 50% 60%;
}

.offroad {
    background-image: url("images/fondo_offroad.png");
    background-position: 50% 62%;
}

.callejeras {
    background-image: url("images/fondo_callejeras.png");
    background-position: 50% 55%;
}

.pista {
    background-image: url("images/fondo_pista.png");
    background-position: 47% 55%;
}


/*CARROUSEL*/

/* Slideshow container */
.slideshow-container {
    max-width: 80%;
    position: relative;
    margin: auto;
    height: 100%;
    margin-bottom: 0px;
    margin-top: 50px;
}

.slideshow-container h3 {
    font-size: 12px;
}

.img-carrousel {
    width: 100%;
    height: 100%;
    border: 1px solid #8A8A8A
}



/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 93%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #913232;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .1
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

.contenedor-carrousel-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*CARROUSEL FIN*/


/* BOTONES */
.contenedor-boton {
    width: 100%;
    display: flex;
    justify-content: right;
}

.ver-mas {
    display: inline-block;
    margin: 6px 50px;
    background-color: transparent;
    border-radius: 8px;
    border: 3px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    padding: 5px 22px;
    text-decoration: none;


    position: relative;
    transition: all .35s;
}

.ver-mas>span {
    position: relative;
    z-index: 2;
}

.ver-mas:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #A73333;
    transition: all .2s;
}

.ver-mas:hover:after {
    width: 100%;
}



/* CARDS JUEGOS */
.card-juego {
    min-width: 300px;
    height: 200px;
    margin: 6px;
}

.contenedor-card-auxiliar {
    position: relative;
}

.contenedor-card-auxiliar:hover button {
    display: inline-block;
}

.contenedor-card-auxiliar:hover img {
    filter: blur(1.5px);
}

.jugar-boton,
.cart-button {
    z-index: 5;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    padding: 10px;
    width: 180px;
    height: 50px;
    border: 0;
    border-radius: 10px;
    transition: .3s ease-in-out;

    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.jugar-boton {
    background-color: #3ABA38;
    font-size: 16px;
}

.jugar-boton:hover {
    background-color: #85d684;
}

.cart-button {
    background-color: #cf6565;

}

.cart-button:hover {
    background-color: #db8f8f;
}

.cart-button .fa-shopping-cart {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: -10%;
    font-size: 2em;
    transform: translate(-50%, -50%);
}

.cart-button .fa-box {
    position: absolute;
    z-index: 3;
    top: -20%;
    left: 52%;
    font-size: 1.2em;
    transform: translate(-50%, -50%);
}

.cart-button span {
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    font-size: 14.5px;
    color: #ffffff;
    transform: translate(-50%, -50%);
}

.cart-button span.add-to-cart {
    opacity: 1;
}

.cart-button span.added {
    opacity: 0;
}

.clicked .fa-shopping-cart {
    animation: cart 1.5s ease-in-out forwards;
}

.clicked .fa-box {
    animation: box 1.5s ease-in-out forwards;
}

.clicked span.add-to-cart {
    animation: txt1 1.5s ease-in-out forwards;
}

.clicked span.added {
    animation: txt2 1.5s ease-in-out forwards;
}

.clicked {
    display: inline-block !important;
}

@keyframes cart {
    0% {
        left: -10%;
    }

    40%,
    60% {
        left: 50%;
    }

    100% {
        left: 110%;
    }
}

@keyframes box {

    0%,
    40% {
        top: -20%;
    }

    60% {
        top: 40%;
        left: 52%;
    }

    100% {
        top: 40%;
        left: 112%;
    }
}

@keyframes txt1 {
    0% {
        opacity: 1;
    }

    20%,
    100% {
        opacity: 0;
    }
}

@keyframes txt2 {

    0%,
    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}








.card-portada {
    width: 100%;
    height: 160px;
    border: 1px solid #8A8A8A
}

.card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
    font-size: 12px;
}

.precio {
    font-size: 16px;
}

.calificacion-carrusel {
    margin: 8px;
}

.calificacion-carrusel>.estrella {
    width: 15px;
}

.calificacion>.estrella {
    width: 22px;
}



/*FOOTER*/
footer {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 64, 64, 0.43);
    /* ahí se ve bien en escritorio, pero en celular ni se ve */
    padding: 1rem;
    margin-top: 50px;
}

.contenedor-footer {
    display: flex;
    align-items: left;
    flex-direction: column;
}

footer div ul div img {
    width: 30px;
    height: auto;
}

.contenedorLista {
    display: flex;
    justify-content: left;
    align-items: center;
}

footer div img {
    width: 50%;
    height: auto;
}

footer div div ul {
    list-style-type: none;
    margin-left: 10px;
}

footer div div .contenedorLista {
    margin-top: 10px;
}

footer p {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.604);
}


footer .soporte ul li,
.navegacion ul li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.derechos-reservados {
    font-size: 11px;
    text-align: justify;
}

/*MOBILE FIRST FIN*/

/*DESKTOP*/

@media (min-width: 900px) {

    /*NAVBAR*/
    nav {
        position: static;
    }

    .pag-logo {
        margin-right: 10rem;
    } 

    .contenedor-nav {
        width: auto;
        height: 60px;
        display: flex;
        justify-content: right;
        align-items: center;
        padding: 8px 0px;
        position: none;
        right: 0px;
        z-index: 0;
    }

    .buscar-input {
        font-size: 16px;
        border-radius: 20px;
        height: 35px;
        width: 500px;
        padding-left: 40px;
        margin-right: 0px;
        background-image: url("images/icono_lupa.png");
        background-size: 30px 30px;
        background-repeat: no-repeat;
        background-position: 8px center;
    }

    .btn-biblioteca,
    .btn-categoria {
        margin-left: 15px;
        display: block;
    }

    .carrito {
        margin-left: 15px;
        margin-right: 15px;
        display: block;
        height: 95%;
    }


    /*CARROUSEL INICIO*/

    .slideshow-container {
        max-width: 80%;
        position: relative;
        margin: auto;
        height: 560px;
        margin-bottom: 100px;
    }

    .slideshow-container h3 {
        font-size: 30px;
    }

    .calificacion-carrusel>.estrella {
        width: 30px;
    }

    .img-carrousel {
        width: 1200px;
        height: 600px;
        border: 1px solid #8A8A8A
    }

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    /* Caption text */
    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active,
    .dot:hover {
        background-color: #913232;
    }

    /* Fading animation */
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
        from {
            opacity: .1
        }

        to {
            opacity: 1
        }
    }

    /**CARROUSEL FIN/

/*NUEVOS LANZAMIENTOS*/

    .contenedor-nuevos-lanzamientos {
        width: 60%;
    }

    .card-nuevos-lanzamientos {
        height: 400px;
    }

    /*JUGADOS RECIENTEMENTE*/
    .contenedor-auxiliar {
        width: 88%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        overflow-x: scroll;
        margin: auto;
        align-items: center;
    }

    .contenedor-boton {
        margin-right: 500px;
    }

    .recientes>.contenedor-auxiliar {
        justify-content: left;
    }

    /*OFERTAS ESPECIALES*/

    .ofertas {
        flex-direction: row;
        justify-content: center;
    }

    .cardOf {
        width: 20%;
        height: 27rem;
        margin-bottom: 3rem;
        margin: 15px;
    }

    .PrecioOf {
        height: 6rem;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .cardOf .PrecioOf .textOf {
        font-size: 12px;
    }

    .cardOf .PrecioOf div p {
        margin: 0.5rem;
        font-size: 45px;
        height: auto;
    }

    .contenedor-nombre {
        justify-content: space-between;
    }

    .contenedor-precio {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: end;
    }

    .cardOf .PrecioOf div .contenedor-precio p {
        font-size: 16px;
    }

    .cardOf .PrecioOf .contenedor-precio .precio {
        font-size: 30px;
    }

    /*FOOTER*/

    footer {
        background: linear-gradient(rgba(203, 57, 57, 0.75), rgba(203, 57, 57, 0.75)), url("images/fondo_footer.png");

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 350px;
        padding: 1rem;

    }

    .contenedor-redes {
        display: flex;
        flex-direction: row;
        align-items: start;
        margin-left: 27rem;
    }

    .contenedor-footer {
        flex-direction: row;
    }

    footer li {
        font-size: 12px;
    }

    .derechos-reservados {
        width: 100%;
        height: 160px;
        font-size: 13px;
        text-align: justify;
        display: flex;
        justify-content: center;
        align-items: end;
    }

    footer .contenedor-footer div ul div img {
        width: 20px;
        height: auto;
        margin-right: 6px;
    }

    .contenedorLista {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    footer .contenedor-footer img {
        width: 10%;
        height: 10%;
    }

    footer .contenedorLista {
        margin-top: 10px;
    }

    footer .derechos-reservados p {
        color: rgba(255, 255, 255, 0.604);
    }


    footer .soporte ul li,
    .navegacion ul li {
        margin-top: 10px;
        margin-bottom: 10px;
    }

}

/* LOGIN */
.main-body {
    background-image: url("images/fondo_login.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/*PAGINA JUEGO*/

/*PANTALLA JUEGO*/


.contenedor-juego {
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: auto;
    background-image: url("images/fondo_callejeras.png");
    background-position: 50% 0%;
    background-position: center;
    box-shadow: 0px 10px 10px #161616 inset, 0px -10px 10px #161616 inset;
}

.contenedor-juego>h3 {
    margin: 25px 260px;
}

.contenedor-pantalla {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

canvas{
    display: none;
    margin-right: 71px;
}

.inicio-juego{
    display: block;
    margin-right: 71px;
}

.menu-juego{
    display: block;
    position: absolute;
}

.jugar{
    top: 75%;
}

.config{
    top: 82%;
}

.contenedor-pantalla button{
    border-style: solid;
    background-color: #161616;
    color: white;
    border-color: #702626;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin: 15px;
}

.jugadores{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 63%;
}

.jugadorN1{
    display: none;
}

.jugadorN2{
    display: none;
    margin-left: 200px;
}

.configuracion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-game{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.select-equipos{
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 68%;
}

.select-equipos img{
    display: none;
}

#seleccionar{
    display: none;
    position: absolute;
    top: 94%;
}

.cantidad{
    display: none;
    position: absolute;
    top: 84%;
}

.select-tamanio{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 89%;
}

.texto{
    display: none;
}

.opt{
    display: none;
    margin-left: 20px;
    width: 20px;
    height: 20px;
}



/*
.inicio-juego #jugar{
    position: absolute;
    left: 47%;
    top: 85%;
}

.inicio-juego #check1, #check2, #check3{
    display: none;
    position: absolute;
}

#check1{
    left: 43%;
    top: 96%;
}

#check2{
    left: 50%;
    top: 96%;
}

#check3{
    left: 59%;
    top: 96%;
}

.tamanio{
    display: none;
    position: absolute;
    left: 48%;
    top: 93%;
}

.inicio-juego #config{
    position: absolute;
    left: 45%;
    top: 93%;
}

.inicio-juego #seleccionar{
    position: absolute;
    left: 46%;
    top: 104%;
    display: none;
}
/*EQUIPO1*/
/*
.inicio-juego #flecha-izq{
    position: absolute;
    left: 35%;
    top: 83%;
    display: none;
}

img.equiposj1{
    position: absolute;
    left: 40%;
    top: 80%;
    display: none;
}


.inicio-juego #flecha-der{
    position: absolute;
    left: 48%;
    top: 83%;
    display: none;
}

/*EQUIPO2*/
/*
.inicio-juego .btn-izq{
    position: absolute;
    left: 53%;
    top: 83%;
}

img.equiposj2{
    position: absolute;
    left: 69%;
    top: 80%;
    display: block;
}

.inicio-juego .btn-der{
    position: absolute;
    left: 63%;
    top: 83%;
}
*/

.pantalla-juego {
    background-image: url("images/juego.png");
    background-position: center;
    background-size: cover;
    margin-right: 100px;
    height: 935px;
    width: 849px;
}

.contenedor-controles {
    width: 400px;
    height: auto;
}

.imagen-juego {
    background-image: url("images/portadajuego2.png");
    width: auto;
    height: 400px;
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
}

.controles-juego {
    height: 505px;
    width: auto;
    background-color: #1d1d1d77;
    border: #FF6262;
    border-width: 3px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.contenedor-juego h2 {
    font-size: 20px;
}

.control {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    height: auto;
    width: 100%;
    margin-top: 45px;
}

.control p {
    font-size: 30px;
}

.click-derecho,
.click-izquierdo {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 20%;
    margin-left: 40px;
    margin-right: 10px;
}

.click-izquierdo {
    background-image: url("images/icono_click_izquierdo.png");
    height: 100px;

}

.click-derecho {
    background-image: url("images/flechas.png");
    height: 235%;
    width: 23%;


}

.control img {
    width: 50%;
}

/*INFORMACION JUEGO*/

.contenedor-informacion {
    padding: 10px;
    width: 70%;
    height: auto;
    background-image: url("images/fondo_pista.png");
    box-shadow: 0px 10px 10px #161616 inset, 0px -10px 10px #161616 inset;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    margin-top: 60px;
}

.contenerdor-sub-info1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    margin-top: 20px;
}

.contenedor-informacion p {
    font-size: 20px;
    text-align: justify;
}

.contenedor-sub-categoria1,
.contenedor-sub-categoria2 {
    display: flex;
    flex-direction: row;
}

.contenedor-descripcion {
    margin-right: 40px;
}

.cuadro-categoria {
    width: 170px;
    height: 55px;
    background-color: #A05858;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 6px;
    border-radius: 7px;
}

.icono {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: green;
    margin-right: 10px;
    margin-left: 10px;
}

.clasico {
    background-image: url("images/images\ \(1\).png");
    background-position: center;
    background-size: 110%;
}

.arcade {
    background-image: url("images/images.png");
    background-position: center;
    background-size: 100%;
}

.gratis {
    background-image: url("images/png-clipart-dollar-sign-illustration-united-states-dollar-icon-design-icon-dollar-sign-text-logo-thumbnail.png");
    background-position: center;
    background-size: 130%;
}

.casual {
    background-image: url("images/pop-corn-flat-icon-vector-7978872.jpg");
    background-position: center;
    background-size: 130% 60px;
}

.contenedor-informacion h2 {
    margin-bottom: 10px;
}

.contenedor-sub-info2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.contenedor-info p {
    margin-top: 10px;
}

.compartir {
    margin-top: 10px;
}

.video {
    width: 25%;
    height: auto;
    margin-right: 20px;
}

.compartir {
    width: 160px;
    height: 40px;
    background-color: #A05858;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.compartir img {
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

/*COMENTARIOS-FOROS*/

.contenedor-social {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comentarios {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #4b4b4b6f;
    border-style: solid;
    border-color: #A05858;
    margin-right: 74px;
}

.comentarios h2 {
    margin-left: 10px;
    margin-top: 10px;
}

.contenedor-anadir-comentario {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.escribir-comentario {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-color: white;
    border-style: none none solid none;
    border-width: 2px;
    padding-right: 10px;
}

.escribir-comentario img {
    width: 40px;
}

.icono-comentario {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    background-image: url("images/308d795c3cac0f8f16610f53df4e1005.jpg");
    background-position: center;
    background-size: 100%;
    margin: 20px;
}

.escribir-comentario .icono-comentario{
    background-image: url("images/mclovin.jpg");
}
.comentario1{
    background-image: url("images/icono_insane.jpg");
}
.comentario2{
    background-image: url("images/icono_pirulo.png");
}
.comentario3{
    background-image: url("images/icono_messi.jpeg");
    background-size: cover;
}

.escribir-comentario .icono-comentario {
    margin-top: 15px;
}

.escribir-comentario p,
.nombre {
    color: rgba(255, 255, 255, 0.604);
}

.comentarios-generales {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*COMUNIDAD*/

.foro {
    display: flex;
    flex-direction: column;
    border-color: #A05858;
    border-style: solid;
    width: 50%;
}

.comunidad {
    display: flex;
    align-items: center;
    border-color: white;
    border-style: none none solid none;
    border-width: 2px;
    height: 49px;
}

.comunidad-rosa,
.comunidad-negro {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 15px;
}

.comunidad-rosa {
    background-color: #E96F6F;
}

.comunidad-negro {
    background-color: #B75555;
}

.comunidad img {
    width: 35px;
    margin-left: 5px;
    margin-right: 3px;
}

/*JUEGOS SIMILARES*/

.contenedor-juego-similar {
    margin-top: 60px;
    width: 70.6%;
}

.lista-juego-similar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* FORMULARIO */
.formulario {
    width: 660px;
    height: 1900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;


    background-color: #161616;
    border-left: 15px solid #BC6969;
    border-right: 15px solid #BC6969;
}

.contenido-formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 80px;
}

.form-login {
    height: 960px;
}

.formulario>img {
    width: 50%;
}

.iniciar-con {
    display: flex;
    flex-direction: row;
}

.icono-red {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}






.boton-iniciar-con {
    width: 225px;
    margin: 10px;
    font-size: 15px;
    padding: 8px 18px;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    transition: all 0.5s;
    cursor: pointer;
}

.boton-iniciar-con>span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.boton-iniciar-con>span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.boton-iniciar-con:hover>span {
    padding-right: 15px;
}

.boton-iniciar-con:hover span:after {
    opacity: 1;
    right: 0;
}

.google {
    background-color: #ffffff;
    border: 3px solid #ffffff;
}

.google>span {
    color: #161616;
}

.facebook {
    background-color: #1977F3;
    border: 3px solid #1977F3;
}

.facebook>span {
    color: #ffffff;
}

.boton-iniciar-con:hover {
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.google:hover {
    background-color: #9b9b9b;
    border: 3px solid #9b9b9b;
}

.facebook:hover {
    border: 3px solid #285fa8;
    background-color: #285fa8;
}

label>span {
    color: #cf2828;
}

.contenedor-inputs {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.contenedor-inputs>input {
    width: 100%;
    border-style: solid;
    padding: 6px;
    font-size: 16px;
    border-width: 3px;
    border-radius: 5px;
    background-color: #161616;
    border-color: #bc6969;
    color: #ffffff;
}

.contenedor-inputs>label {
    margin-top: 30px;
}

.input-checks {
    margin-top: 20px;
}

.input-checks>div {
    margin: 10px;
}

.input-checks>div>p {
    display: inline-block;
}

.input-checks>div>input {
    margin: 3px;
}

.input-checks>div>p>a {
    color: #408EE9;
}

.captcha {
    width: 100%;
    margin-top: 20px;
}

.contenedor-botones {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.cancel-button,
.submit-button {
    width: 240px;
    margin: 10px;
    font-size: 18px;
    padding: 8px 18px;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.cancel-button {
    background-color: transparent;
    border: 3px solid #9b9b9b;
    color: #9b9b9b;

}

.submit-button {
    background-color: #1977F3;
    border: 3px solid #1977F3;
    color: #ffffff;
}

.cancel-button:hover {
    background-color: #9b9b9b;
    border: 3px solid #9b9b9b;
    color: #161616;
}

.submit-button:hover {
    border: 3px solid #285fa8;
    background-color: #ffffff;
    color: #285fa8;
}

.contenedor-opciones {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-opciones>a,
.contenedor-opciones>p>a {
    font-size: 18px;
    color: #408EE9;
}



/* ANIMACIÓN CARGA INICIO */
.contenedor-porcentaje {
    margin: 100px auto;
    margin-top: 430px;
    width: 80%;
    text-align: center;
    position: relative;
}

.progress2 {
    border-radius: 30px;
    background-color: #838383;
}

.progress-bar2 {
    height: 18px;
    border-radius: 30px;
    transition: 0.4s linear;
    transition-property: width, background-color;
}

.progress-moved .progress-bar2 {
    background-color: #f3c623;
    animation: progress 5s;
}

@keyframes progress {
    0% {
        width: 0%;
        background: #f9bcca;
    }

    100% {
        width: 100%;
        background: #f3c623;
        box-shadow: 0 0 40px #f3c623;
    }
}


.loader {
    --p: 0;
    animation: p 5s steps(100);
    counter-reset: p var(--p);
    font-size: 2.1em;
    position: absolute;
    bottom: 45px;
    left: 44.5%;
    color: #f3c623;
}

.loader:after {
    content: counter(p) "%";
}

@keyframes p {

    90%,
    100% {
        --p: 100;
    }
}



/* ANIMACIÓN CREAR CUENTA */
.animacion {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.success-animation {
    margin: 60px auto;
}

.checkmark {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #4bb71b;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #4bb71b;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    position: relative;
    top: 5px;
    right: 5px;
    margin: 0 auto;
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #4bb71b;
    fill: #161616;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;

}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.hide {
    display: none;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {

    0%,
    100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}










/* MEDIA QUERIES */
@media screen and (min-width:500px) {

    h3 {
        font-size: 30px;
    }

    .contenedor-porcentaje {
        width: 50%;
    }

    /* HAMBURGUESA */
    .contenedor2-hamburguesa {
        gap: 20px;
    }

    .contenedor2-hamburguesa>a {
        font-size: 20px;
    }

    .hamburguesa {
        margin-right: 20px;
    }


    /* CARRUSELES */
    .card-juego {
        margin: 6px 15px;
    }

    .contenedor-categoria>h3 {
        margin-left: 110px;
    }


}